<%- include('partials/head')%>
    <%- include('partials/header')%>
        <%- include('partials/navbar')%>
            <title>About</title>

          

            <%- include('partials/footer')%>
        </html>
            <%- include('partials/foot')%>