<%- include('partials/head')%>
    <%- include('partials/header')%>
        <%- include('partials/navbar')%>
            <title>Big Sky LLC</title>

            </head>

            <body>
            
            </body>

            <%- include('partials/footer')%>

                </html>

                <%- include('partials/foot')%>