<%- include('partials/head')%>
    <%- include('partials/header')%>
        <%- include('partials/navbar')%>
            </head>

            <body>
            
            </body>

           
            <%- include('partials/footer')%>
             </html>
            <%- include('partials/foot')%>